@{
    ViewBag.Title = "Home";
}

@section scripts
{
    <script src="~/Scripts/home.js"></script>
}

<h2>Hello World!</h2>

<base href="/" />

<div data-ng-app='homeApplication' data-ng-controller='homeController'>
    <table>
        <thead>
            <tr>
                <td data-ng-click="sort='Name'">Name</td>
                <td data-ng-click ="sort='Age'">Age</td>
                <td>Description</td>
                <td data-ng-click="sort='Gold'">Gold</td>
                <td data-ng-click="sort='HP'">HP</td>
                <td>Weapon</td>
                <td>Date Born</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat='dragon in dragons | filter:keyword | orderBy:sort'>
                <td>{{ dragon.Name }}</td>
                <td>{{ dragon.Age }}</td>
                <td>{{ dragon.Description }}</td>
                <td>{{ dragon.Gold }}</td>
                <td>{{ dragon.MaxHP }}</td>
                <td>{{ dragon.Weapon.Name }} ({{ dragon.Weapon.Description }})</td>
                <td>{{ dragon.DateBorn }}</td>
                <td>
                    <div style="color: #ccc; cursor: pointer;" data-ng-click='remove(dragon)'>X</div>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <input type='button' value='Spawn' data-ng-click='spawn()' />
        |
        <input id="txtKeyword" type="text" style="width: 80px;" />
        <input type='button' value='Search' data-ng-click='search()' />
        <input type='button' value='Filter' data-ng-click='filter()'/>
    </p>
</div>